.intro-container{
    --introContainer-template-columns: 1fr minmax(50px,12fr) 1fr;
    --introContainer-margin: 20px 0px 0px;
    --introIcon-container-display: none;
    --introContent-template-columns: 1fr;
}

.software-projects-container
{
    --softwareProjectsContainer-template-columns: 1fr minmax(50px,12fr) 1fr;
    --softwareProjectsContainer-margin: 20px 0px;
}

@media (min-width: 576px) {
    .intro-container{
        --introContainer-template-columns: 1fr 5fr 1fr;
        --introContainer-margin: 25px 0px 0px;
    }
    .software-projects-container
    {
        --softwareProjectsContainer-template-columns: 1fr 5fr 1fr;
        --softwareProjectsContainer-margin: 25px 0px;
    }
}

@media (min-width: 992px) {
    .intro-container{
        --introContainer-margin: 100px 0px 0px;
        --introContent-template-columns: repeat(2,1fr);
        --introIcon-container-display: flex;
    }
}

h2{
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 500;
}

h3{
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 400;
}

.intro-container{
    display: grid;
    justify-content: center;
    grid-template-columns: var(--introContainer-template-columns);
    margin: var(--introContainer-margin);
}

.intro-content {
    display: grid;
    align-items: center;
    grid-template-columns: var(--introContent-template-columns)
}

.intro-icon-container{
    display: var(--introIcon-container-display);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--primary);
    opacity: 90%;

}

.intro-icon-container span:nth-child(1){
    font-size:130px;
}

.intro-icon-container span:nth-child(2){
    font-size:50px;
}

.software-projects-container{
    display: grid;
    justify-content: center;
    grid-template-columns: var(--softwareProjectsContainer-template-columns);
    margin: var(--softwareProjectsContainer-margin);
}
