.contact-content{
    --contact-grid-template: 1fr 10fr
}
@media (min-width: 576px) {
}

@media (min-width: 992px) {
    .contact-content{
        --contact-grid-template: 1fr 15fr
    }
}
.contact-content{
    margin-bottom: 1rem;
}
.contact-info{
    display: grid;
    grid-template-columns: var(--contact-grid-template);
    align-items: center;
    grid-column-gap: 1rem;
    margin-top: 1.25rem;
}
.contact_icon{
    width: 40px;
    height: 40px;
}
.contact-content a {
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.contact-content a:last-of-type {
    margin-top: 0.5rem;
}
.contact-content a:hover{
    color: var(--primary);
}