/* responsive web variables */
.hero{
    --hero-header-fs: 38px;
    --hero-subheader-fs: 20px;
    --hero-content-padding: 60px 30px 60px 30px;
    --hero-hr-width: 100%;
}

@media (min-width: 576px) {
    .hero{
        --hero-header-fs: 45px;
        --hero-content-padding: 60px 10px 60px 10px;
        --hero-hr-width: 120%;
    }
}

@media (min-width: 992px) {
    .hero{
        --hero-header-fs: 60px;
        --hero-subheader-fs: 35px;
        --hero-content-padding: 60px 100px 60px 100px;
        --hero-hr-width: 140%;
    }
}


.hero {
    width: 100%;
    height: 100vh;

    background-image: url('../assets/img/hero_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--light)
}

.hero-content {
    margin-top: -65px;
    text-align: center;
    padding: var(--hero-content-padding);
    background:radial-gradient(circle at 50% 50%, rgba(49, 49, 77, 0.7) 0%, rgba(49, 49, 77, 0.4) 50%,rgba(49, 49, 77, 0.3) 80%, rgba(0, 0, 0, 0) 90%);    
}

.hero-content h1{
    margin: 20px 0 10px 0;
    font-size: var(--hero-header-fs);
}

.hero-hr{
    border-top: 1px solid var(--light);
    width: var(--hero-hr-width);
    margin-left: calc(-1 * ((var(--hero-hr-width) - 100%) / 2));
}

.hero-content p{
    font-size: var(--hero-subheader-fs);
    margin: 30px 0 10px 0;
}