/* responsive web variables */
.navbar {
    --navbar-fs: 17px;
    --navbar-menu-display: block;
    --navbar-item-float: left;
    --navbar-item-direction: column;
    --navbar-item-spacing: 8px 0px 5px 10px;
}
.dropdown-navitems{
    display: block;
}
.flat-navitems {
    display: none;
}

@media (min-width: 576px) {
    .navbar {
        --navbar-fs: 23px;
        --navbar-menu-display: none;
        --navbar-item-float: right;
        --navbar-item-direction: flex-start;
        --navbar-item-spacing: 36px 38px 0px 0px;
    }
    .dropdown-navitems{
        display: none;
    }
    .flat-navitems {
        display: block;
    }

}

@media (min-width: 992px) {
    .navbar {
        --navbar-fs: 25px;
        --navbar-item-spacing: 50px 50px 0px 25px;
    }
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: var(--light);
}

.menu-icon{
    display: var(--navbar-menu-display);
    padding: 7px;
    font-size: 32px;
    cursor: pointer;
}

nav .nav-links {
    display: flex;
    flex-direction: var(--navbar-item-direction);
    float: var(--navbar-item-float); 
}

nav .nav-links a {
    font-size: var(--navbar-fs); 
    color: var(--light);
    text-decoration: none;
    padding-bottom: 2px;

    margin: var(--navbar-item-spacing);
}

nav a:hover {
    border-bottom: 1px solid var(--light);
}