.not-found {
    --notFound-grid-columns: 1fr 15fr 1fr;
    --notFound-padding: 10px 0 40px 0;
}

@media (min-width: 576px) {
    .not-found {
        --notFound-grid-columns: 1fr 5fr 1fr;
        --notFound-padding: 70px 0;
    }
}

@media (min-width: 992px) {
    .not-found {
        --notFound-grid-columns: 1fr 10fr 1fr;
        --notFound-padding: 50px 0;
    }
}

.not-found {
    display: grid;
    grid-template-columns: var(--notFound-grid-columns);
    padding: var(--notFound-padding);
}
