.projectPreview-divider{
    --projectPreview-divider-margin: 60px 0;
}
.softwareProjects-search{
    --softwareProjects-search-color: rgb(143, 143, 143);
    --softwareProjects-search-margins: 0 0 0.5rem 0;
    --softwareProjects-search-barlength: 250px;
    --softwareProjects-search-direction: column;
    --softwareProjects-search-align: flex-start;
}

@media (min-width: 576px) {
    .softwareProjects-search{
        --softwareProjects-search-margins: 0 0 0.5rem 0;
        --softwareProjects-search-barlength: 300px;
    }
}

@media (min-width: 992px) {
    .softwareProjects-search{
        --softwareProjects-search-direction: flex-start;
        --softwareProjects-search-align: center;
        --softwareProjects-search-barlength: 350px;
    }
}

@media (min-width: 1200px) {
    .projectPreview-divider{
        --projectPreview-divider-margin: 100px 0;
    }

    .softwareProjects-search{
        --softwareProjects-search-barlength: 400px;
    }
}

.softwareProjects-list{
    min-height: 100vh;
}

.softwareProjects h2{
    margin-bottom: 2rem;
}

.projectPreview-divider{
    margin: var(--projectPreview-divider-margin);
}

.softwareProjects-search{
    display: flex;
    align-items: var(--softwareProjects-search-align);
    flex-direction: var(--softwareProjects-search-direction);
    margin: 0 0 3.5rem 0;
}

.softwareProjects-search *{
    font-size: 16px;
}

.softwareProjects-search > div {
    margin: var(--softwareProjects-search-margins);
}

.projectSearch-text {
    display: flex;
}
.projectSearch-text > span{
    margin: 0.3rem 0.25rem 0 0;
    font-size: 1.7rem;
}
.projectSearch-text > input[type=text]{
    font-size: 1.3rem;
    border: none;
    border-bottom: 1px solid var(--softwareProjects-search-color);
    width: var(--softwareProjects-search-barlength);
    margin-right: 2rem;
    padding-bottom: 0.2rem;
    color: var(--dark);
}
.projectSearch-text > input[type=text]::placeholder {
    font-style: italic;
    color: var(--softwareProjects-search-color);
    opacity: 1;
}
.projectSearch-text > input[type=text]:focus {
    outline: none;
    color: var(--dark);
    border-bottom: 2px solid var(--primary);

}

.projectSearch-radio {
    margin-left: 1.8rem;
}

.projectSearch-radio > div > label{
    margin: 0 1rem 0 0;
}

.projectSearch-buttons {
    align-self: flex-end;
}

.search-button {
    background-color: rgba(255, 255, 255, 0);
    color: var(--dark);
    cursor: pointer;  
    border: none;
}

.search-button span
{
    font-size: 2rem;
}

.search-button:hover{
    color: var(--primary);
}

.search-button:disabled {
    cursor: default;
    color: var(--softwareProjects-search-color);
}